body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #00f, #f00);
}

.search-container{
    position: relative; 
}

input{
    padding: 1rem;
    border: none;
}

input#search{
    width: 0%;
    background: transparent;
    outline: none;
    font-size: 1.25em;
    transition: all 800ms linear;
}

.search-container.hidden input#search{
    width: 100%;
    background: #fff;
}

label{
    padding: 0.5rem 1rem;
    font-size: 2em;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 800ms linear;
}

.search-container.hidden label{
    color: #000;
    position: absolute;
    left: 90%;
}

