*{
    box-sizing: border-box; 
}

:root{
    --brand-color: #ef233c;
    --brand-bgcolor: #343a40 ;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #000; 
    color: #fff;
    letter-spacing: 0.1em;
}

#navbar{
    background-color: var(--brand-bgcolor);
    height: 8vh;
    margin-bottom: 1em;
}

.navbar-brand{
    color: var(--brand-color);
    text-decoration: none; 
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: bold;
}

#navbar .container{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 100%; 
}

#search{
    background: transparent; 
    padding: 0.5em 1em;
    border: 1px solid var(--brand-color);
    border-radius: 5px; 
    color: #fff;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.movies-container{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em; 
    grid-auto-rows: 50vh;
    padding: 1em;
}

.movie{
    overflow: hidden;
    cursor: pointer;
    position: relative; 
    box-shadow: 0 0 1em -0.5em var(--brand-color); 
    transition: transform 500ms linear, box-shadow 500ms linear;
}

.movie:hover{
    transform: scale(1.1);
    box-shadow: 0 0.3em 1em -0.3em var(--brand-color);
}

.movie img{
    width: 100%;
    height: 80%;
}

.movie-brief{
    height: 20%;
}

.movie-brief .container{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 90%;
    margin: 1em auto;
}

.movie-brief h1, 
.movie-brief h2{
    margin: 0;
}
.movie-brief h1{
    font-size: 1em;
}
.movie-brief h2{
    font-size: 0.8em;
    font-weight: normal; 
    border-radius: 50px; 
    padding: 0.25em 0.5em;
    border: 1px solid var(--brand-color);
}

.movie-overview{
    position: absolute; 
    bottom: 0; 
    background-color: var(--brand-bgcolor);
    padding: 1em;
    transform: translateY(100%);
    transition: transform 500ms linear; 
    font-size: 0.9em; 
    line-height: 1.5;
}

.movie:hover .movie-overview{
    transform: translateY(0%);
}

footer{
    margin-top: 5em;
    background-color: var(--brand-bgcolor);
    font-size: 0.5em; 
    text-transform: uppercase; 
    padding: 2em 0; 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
}